@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=DM+Sans:opsz,wght@9..40,500&family=Montserrat:wght@600&display=swap');

.logo {
  width: 200px;
}

.button1 {
  border-radius: 25px;
  background-color: #e23744;
  font-family: 'Montserrat', sans-serif;
}

.form-outline1 i {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  pointer-events: none;
}


.form-outline2 i {
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  pointer-events: none;
}
.form-outline3 i {
  position: absolute;
  top: 68%;
  transform: translateY(-50%);
  pointer-events: none;
}

.Bilal{
  width: 70vh;
}
.card>img{
 height: 15rem;
}

.card-group{
  border: none;
}


